---
import ExtendedNotables from "../layouts/ExtendedNotables.astro";
import Nav from "../layouts/Nav.astro";
import Placeholder from "../components/Placeholder.astro";
import "@fontsource-variable/lexend-mega";
---

<html lang="en" data-theme="light" class="tracking-tighter">
	<head>
		<meta charset="
	utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star2.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bionote - Iamusicgabriel</title>
	</head><body class="flex flex-col items-center bg-byellow p-10 gap-10">
		<Placeholder color="bg-borange" text="Bionote" textColor="text-bwhite" />
		<p>
			Gabriel Alexis Gonzales, professionally known as “Iamusicgabriel” on major
			music streaming platforms, is a current Senior High School STEM Student at
			Don Bosco Technical Institute of Makati. He is proclaimed as one of the
			Ten Outstanding Students of Makati and the proud recipient of the Junior
			Chamber International Youth Leadership Excellence Award. He served as the
			Student Council President of Don Bosco Makati JHS Department for school
			year 2022-2023. An esteemed member of Vision Media Productions, Teatro
			Busko, and former bass singer of the internationally acclaimed choir
			Boscorale.
		</p>
		<span>Updated April 19, 2024</span>
	</body>
</html>
