---
import "../styles/global.css";
import Body from "../layouts/body.astro";
import WindowText from "../components/WindowText.astro";
import WindowImage from "../components/WindowImage.astro";

import Coding from "../images/coding.gif";
import Hero from "../images/my-images/hero.png";
import Iamusicgabriel from "../images/iamusicgabriel.png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iamusicgabriel</title>
	</head>
	<Body>
		<!-- Landing Page -->
		<img class="w-full max-w-lg" src={Hero.src} />

		<WindowText title="iamusicgabriel.tsx" color="pink">
			<div class="w-108 flex flex-col">
				<span class="opacity-50 select-none">const intro = () => &lbrace;</span>
				<span class="indent-4 opacity-50 select-none">return (</span>
				<span class="text-3xl"
					>Narcissistic and arrogant a**hole. Welcome to my world, my friend.</span
				>

				<span class="indent-4 opacity-50 select-none">);</span>
				<span class="opacity-50 select-none">&rbrace;</span>
			</div>
		</WindowText>
		<WindowText title="rainbow.tsx" css="bg-gradient-to-r from-violet to-pink">
			<div class="w-32">
				parati't parating may bahaghari sa bawat antas ng buhay.
			</div>
		</WindowText>
		<WindowText title="rainbow.tsx" color="yellow" text="think different." />
		<WindowImage title="monke.gif">
			<img src={Coding.src} class="w-64" />
		</WindowImage>
		<div>
			
		</div>
	</Body>
</html>
