---
import "../styles/global.css";

import Body from "../layouts/body.astro";
import Landing from "../layouts/Landing.astro";
import AboutMe from "../layouts/AboutMe.astro";
import MyId from "../components/MyId";

import Marquee from "../components/Marquee";
---

<html lang="en" class="bg-blue overflow-x-hidden">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iamusicgabriel</title>
	</head>
	<Body>
		<!-- Landing Page -->
		<Landing />
		<Marquee text="IAMUSICGABRIEL" client:load />
		<!-- <div class="flex w-full justify-center self-center max-w-[1440px]">
			<AboutMe />
		</div>

		<div class="w-full h-256"></div> -->
	</Body>
</html>
