---
import Nav from "../layouts/Nav.astro";
import Landing from "../layouts/Landing.astro";
import Notables from "../layouts/Notables.astro";
import Works from "../layouts/Works.astro";
import "@fontsource-variable/lexend-mega";
---

<html lang="en" data-theme="mytheme">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star2.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iamusicgabriel</title>
	</head>
	<body class="flex flex-col items-center bg-byellow">
		<h1 class="text-bblue text-3xl">CURRENTLY IN BETA PHASE</h1>
		<Nav />
		<Landing />
		<Notables />
		<Works />
	</body>
</html>
