---
import '@fontsource/lexend-mega';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iamusicgabriel</title>
	</head>
	<body class="bg-byellow">


		<nav class="p-5 mb-10">
			<h1 class="">Iamusicgabriel</h1>
		</nav>


<container class="flex justify-center flex-col md:flex-row items-center md:m-10">
		<div title="card" class="bg-blightblue max-w-fit p-5 flex flex-col items-center gap-5 border-[0.45rem] rounded-[17px] drop-shadow-[-0.5rem_0.5rem_rgba(0,0,0,1)] -rotate-12 transition ease-in-out hover:-rotate-0 hover:drop-shadow-[-1rem_1rem_rgba(0,0,0,1)] m-10">
		<div class="bg-green-200">
			<img src="/hero.png" class="rounded-xl h-48 border-[0.3rem] aspect-[1/1]">
		</div>
		<div class="py-4 font-bold">
			<a href="/">@iamusicgabriel</a>
		</div>
	</div>
	<div>
		<h1 class="font-bold text-xl text-center md:text-right">
			The “narcissistic a**hole.”<br> Welcome to my world, <br>my friend.
		</h1>
	</div>
</container>

			




	</body>
</html>
