---
import '@fontsource/lexend-mega';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iamusicgabriel</title>
	</head>
	<body class="bg-byellow">


			<nav>
				<a href="/">
					<h1 class="text-lg fixed p-5 transition hover:scale-105">Iamusicgabriel</h1>
				</a>
			</nav>


<container class="flex justify-center md:justify-around flex-col md:flex-row items-center md:mx-10 h-screen">
	<div title="card" class="bg-blightblue p-5 flex flex-col items-center gap-5 border-[0.45rem] rounded-[17px] drop-shadow-[-0.5rem_0.5rem_rgba(0,0,0,1)] -rotate-12 transition ease-in-out hover:-rotate-0 hover:drop-shadow-[-1rem_1rem_rgba(0,0,0,1)] m-10 lg:scale-125 lg:m-28 w-[100%] max-w-fit">
		<img src="/star1.svg" class="scale-[0.6] absolute left-[160px] bottom-[240px]">
		<div class="bg-green-200">
			<img src="/hero.png" class="rounded-xl h-48 border-[0.3rem] aspect-[1/1]">
		</div>
		<div class="py-4 font-bold">
			@iamusicgabriel
		</div>
	</div>
	<div>
		<h1 class="font-bold text-xl text-center md:text-right lg:text-3xl">
			The “narcissistic a**hole.”<br> Welcome to my world, <br>my friend.
		</h1>
	</div>
</container>

<!-- <container class="flex justify-center md:justify-around flex-col md:flex-row items-center md:mx-10 h-screen">
	<div class="font-bold text-xl text-center md:text-left lg:text-3xl">
		I’m <b>Gabriel Alexis Gonzales</b>, aka Iamusicgabriel. Student at Don Bosco Makati. A Student leader, fullstack dev, video editor, artist!
	</div>
		<div title="card" class="bg-bpink p-5 flex flex-col items-center gap-5 border-[0.45rem] rounded-[17px] drop-shadow-[-0.5rem_0.5rem_rgba(0,0,0,1)] rotate-12 transition ease-in-out hover:-rotate-0 hover:drop-shadow-[-1rem_1rem_rgba(0,0,0,1)] m-10 lg:scale-125 lg:m-28 w-full max-w-fit">
		<img src="/star2.svg" class="scale-[0.8] absolute left-[180px] bottom-[260px]">
		<div class="bg-green-200">
			<img src="/hero.png" class="rounded-xl h-48 border-[0.3rem] aspect-square">
		</div>
		<div class="text-2xl font-bold text-center">
			all<br>about me!
		</div>
	</div>
</container> -->
<container class="bg-bpink w-full flex flex-col items-center justify-center gap-5">
<div class="w-full max-w-2xl m-5 flex justify-center text-white bg-bblue py-5 text-2xl rounded-2xl drop-shadow-[-0.5rem_0.5rem_rgba(0,0,0,1)] border-8 border-black text-bold"><b>Notable Awards</b></div>
<a href=""><div class="bg-white p-10 rounded-2xl drop-shadow-[-0.5rem_0.5rem_rgba(0,0,0,1)] border-8 border-black flex justify-center items-center w-[32rem] transition ease-in-out hover:-rotate-0 hover:drop-shadow-[-1rem_1rem_rgba(0,0,0,1)] hover:scale-105 aspect-[4/3]"><img src="/tosm.png"></div></a>
<div class="bg-white p-10 rounded-2xl drop-shadow-[-0.5rem_0.5rem_rgba(0,0,0,1)] border-8 border-black flex justify-center items-center w-[32rem] transition ease-in-out hover:-rotate-0 hover:drop-shadow-[-1rem_1rem_rgba(0,0,0,1)] hover:scale-105 aspect-[4/3]"><img src="/jci.png"></div>
</container>
			




	</body>
</html>
