---
import "../styles/global.css";

import Body from "../layouts/body.astro";
import Landing from "../layouts/Landing.astro";
import AboutMe from "../layouts/AboutMe.astro";
import Spotify from "../layouts/Spotify.astro";
import Awards from "../layouts/Awards.astro";
import Works from "../layouts/Works.astro";

import Trophy from "../images/gui/trophy.gif";

import Marquee from "../components/Marquee";
---

<html lang="en" class="bg-blue overflow-x-hidden">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iamusicgabriel</title>
	</head>
	<Body>
		<!-- Landing Page -->
		<!-- <Landing /> -->
		<div class="flex flex-col w-full justify-center self-center max-w-[1440px]">
			<AboutMe />
			<Spotify />
			<Awards />
			<Works />
		</div>

		<div class="h-256"></div>
	</Body>
</html>
