---
import "../styles/global.css";

import Body from "../layouts/body.astro";
import Landing from "../layouts/Landing.astro";
import AboutMe from "../layouts/AboutMe.astro";
import Spotify from "../layouts/Spotify.astro";
import Awards from "../layouts/Awards.astro";
import Works from "../layouts/Works.astro";
import Education from "../layouts/Education.astro";
import Affiliations from "../layouts/Affiliations.astro";
import Contact from "../layouts/Contact.astro";
import Footer from "../layouts/Footer.astro";

import LoadingGif from "../images/gui/loading.gif";

let choices = [
	"Generating world...",
	"Booting system...",
	"Rendering pixels...",
	"Assembling interface...",
	"Inserting cartridge...",
];
const randomIndex = Math.floor(Math.random() * choices.length);
const chosen = choices[randomIndex];
---

<html lang="en" class="bg-blue overflow-x-hidden scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.gif" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Primary Meta Tags -->
		<title>Iamusicgabriel</title>
		<meta name="title" content="Iamusicgabriel" />
		<meta
			name="description"
			content="Welcome to my world, my friend. I’m Gabriel Gonzales, also known as Iamusicgabriel, a Computer Engineering student at the University of the Philippines - Diliman. UI/UX Designer, frontend developer, filmmaker, and artist!

"
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://iamusicgabriel.com/" />
		<meta property="og:title" content="Iamusicgabriel" />
		<meta
			property="og:description"
			content="Welcome to my world, my friend. I’m Gabriel Gonzales, also known as Iamusicgabriel, a Computer Engineering student at the University of the Philippines - Diliman. UI/UX Designer, frontend developer, filmmaker, and artist!

"
		/>
		<meta property="og:image" content="https://iamusicgabriel.com/meta.png" />

		<!-- X (Twitter) -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://iamusicgabriel.com/" />
		<meta property="twitter:title" content="Iamusicgabriel" />
		<meta
			property="twitter:description"
			content="Welcome to my world, my friend. I’m Gabriel Gonzales, also known as Iamusicgabriel, a Computer Engineering student at the University of the Philippines - Diliman. UI/UX Designer, frontend developer, filmmaker, and artist!

"
		/>
		<meta
			property="twitter:image"
			content="https://iamusicgabriel.com/meta.png"
		/>

		<!-- Meta Tags Generated with https://metatags.io -->
		<script is:inline>
			window.onload = () => {
				const dom = document.querySelector("#dom");
				const loading = document.querySelector("#loading");

				setTimeout(() => {
					dom.classList.remove("hidden");
					setTimeout(() => {
						loading.classList.add("scale-0");
					}, 1300);
				}, 500);
			};

			document.addEventListener("astro:page-load", () => {
				console.log("page loaded");
			});

			function openDialog() {
				const dialog = document.getElementById("dialog");
				dialog.showModal();
				dialog.scrollTop = 0;

				// Force a reflow before applying scale-100 for smooth animation
				requestAnimationFrame(() => {
					requestAnimationFrame(() => {
						dialog.classList.remove("scale-0");
						dialog.classList.add("scale-100");
					});
				});
			}
			function closeDialog() {
				document.getElementById("dialog").classList.remove("scale-100");
				document.getElementById("dialog").classList.add("scale-0");
				setTimeout(() => {
					document.getElementById("dialog").close();
				}, 200);
			}

			window.addEventListener("click", () => {
				if (event.target.id === "dialog") {
					closeDialog();
				}
			});
		</script></head
	>

	<Body>
		<div
			class="transition duration-300 ease-in w-full h-full fixed z-50"
			id="loading"
		>
			<!-- <Loading /> -->
			<div
				class="flex justify-center items-center w-full h-full flex-col gap-4 bg-blue border-white border-8"
			>
				<img class="w-36 pixelated" src={LoadingGif.src} />
				<p class="text-lg text-white bg-pink px-3 py-2 border-4 border-white">
					{chosen}
				</p>
			</div>
		</div>
		<div class="hidden" id="dom">
			<Landing />
			<div class="flex flex-col w-full justify-center self-center gap-32">
				<AboutMe />
				<Spotify />
				<Awards />
				<Works />
				<Education />
				<Affiliations />
				<Contact />
				<Footer />
			</div>
		</div>
	</Body>
</html>
