---
import Nav from "../layouts/Nav.astro";
import Landing from "../layouts/Landing.astro";
import Notables from "../layouts/Notables.astro";
import Works from "../layouts/Works.astro";
import Footer from "../layouts/Footer.astro";
import About from "../layouts/About.astro";
import Loading from "../layouts/Loading.astro";
import "@fontsource-variable/lexend-mega";
---

<html lang="en" data-theme="mytheme">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star2.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iamusicgabriel</title>
	</head>
	<script>
		window.onload = () => {
			setTimeout(() => {
				document.querySelector("#loading").classList.add("hidden");
				document.querySelector("#dom").classList.remove("hidden");
				document.querySelector("#dom").classList.add("flex");
			}, 400);
		};
	</script>

	<body class="bg-byellow">
		<div id="loading">
			<Loading class="loading" />
		</div>
		<div id="dom" class="hidden flex-col items-center w-full">
			<Nav />
			<Landing />
			<About />
			<Notables />
			<Works />
			<Footer />
		</div>
	</body>
</html>
