---
import "../styles/global.css";

import Body from "../layouts/body.astro";
import Landing from "../layouts/Landing.astro";
import AboutMe from "../layouts/AboutMe.astro";
import Spotify from "../layouts/Spotify.astro";
import Awards from "../layouts/Awards.astro";
import Works from "../layouts/Works.astro";
import Education from "../layouts/Education.astro";
import Affiliations from "../layouts/Affiliations.astro";
import Contact from "../layouts/Contact.astro";
import Footer from "../layouts/Footer.astro";
---

<html lang="en" class="bg-blue overflow-x-hidden scroll-smooth cursor">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iamusicgabriel</title>
	</head>
	<Body>
		<!-- Landing Page -->
		<Landing />
		<div class="flex flex-col w-full justify-center self-center gap-32">
			<AboutMe />
			<Spotify />
			<Awards />
			<Works />
			<Education />
			<Affiliations />
			<Contact />
			<Footer />
		</div>
	</Body>
</html>
