---
import Nav from "../layouts/Nav.astro";
import Landing from "../layouts/Landing.astro";
import Notables from "../layouts/Notables.astro";
import Works from "../layouts/Works.astro";
import Footer from "../layouts/Footer.astro";
import About from "../layouts/About.astro";
import Loading from "../layouts/Loading.astro";
import "@fontsource-variable/lexend-mega";
---

<html lang="en" data-theme="mytheme">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star2.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Primary Meta Tags -->
		<title>Iamusicgabriel</title>
		<meta name="title" content="Iamusicgabriel" />
		<meta
			name="description"
			content="Narcissistic and arrogant. Welcome to my world, my friend."
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://iamusicgabriel.com/" />
		<meta property="og:title" content="Iamusicgabriel" />
		<meta
			property="og:description"
			content="Narcissistic and arrogant. Welcome to my world, my friend."
		/>
		<meta property="og:image" content="https://iamusicgabriel.com/meta.jpg" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://iamusicgabriel.com/" />
		<meta property="twitter:title" content="Iamusicgabriel" />
		<meta
			property="twitter:description"
			content="Narcissistic and arrogant. Welcome to my world, my friend."
		/>
		<meta
			property="twitter:image"
			content="https://iamusicgabriel.com/meta.jpg"
		/>

		<!-- Meta Tags Generated with https://metatags.io -->
		<title>Iamusicgabriel</title>
	</head>
	<script is:inline>
		window.onload = () => {
			setTimeout(() => {
				document.querySelector("#loading").classList.add("hidden");
				document.querySelector("#dom").classList.remove("hidden");
				document.querySelector("#dom").classList.add("flex");
			}, 400);
		};
	</script>

	<body class="bg-byellow">
		<div id="loading" class="">
			<Loading />
		</div>
		<div id="dom" class="hidden flex-col items-center w-full">
			<nav class="absolute w-full items-center p-5 max-w-screen-2xl">
				<a href="/"
					><span class="text-sm md:text-xl hover:underline">Iamusicgabriel</span
					></a
				>
			</nav>
			<Landing />
			<About />
			<Notables />
			<Works />
			<Footer />
		</div>
	</body>
</html>
