---
const { title, link } = Astro.props;
---

<button class="cursor-pointer">
	<a href={link}>
		<div
			class="bg-white p-2 border-base-100 border-3 text-pink hover:bg-pink hover:text-white active:bg-base-100 active:text-white active:border-black transition w-fit"
		>
			{title}
		</div></a
	>
</button>
