---
const { color, src, href } = Astro.props;
---

<a href={href}>
	<div
		class={`${color} w-fit p-10 border-4 rounded-xl drop-shadow-[-5px_7px_rgba(0,0,0,1)] transition-all hover:scale-105 hover:drop-shadow-[-12px_14px_rgba(0,0,0,1)] hover:rotate-12`}
	>
		<img src={src} />
	</div>
</a>
