---
const { color, src, href } = Astro.props;
---

<a href={href}>
	<div
		class={`${color} w-fit p-10 border-4 rounded-xl shadow-[-5px_7px_rgba(0,0,0,1)] transition-all hover:scale-105 hover:shadow-[-12px_14px_rgba(0,0,0,1)] indicator`}
	>
		<span
			class="indicator-item badge bg-borange shadow-none indicator-center indicator-bottom border-4 border-bblack p-5"
			>View more</span
		>
		<img src={src} />
	</div>
</a>
