---
import '@fontsource/lexend-mega';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Iamusicgabriel</title>
	</head>
	<body class="bg-byellow flex">
		<nav class="p-5">
			<h1 class="">Iamusicgabriel</h1>
		</nav>
		<div title="card" class="bg-blightblue w-fit p-5 flex flex-col gap-5 border-[9px] rounded-[17px] drop-shadow-[-10px_13px_rgba(0,0,0,1)]">
			<div class="bg-green-200">
				<img src="/hero.png" class="rounded-xl h-48 border-4 aspect-square">
			</div>
			<div class="py-8">
				<a href="/">@iamusicgabriel</a>
			</div>
		</div>
	</body>
</html>
