---
import Placeholder from "../components/Placeholder.astro";
import Pic from "../components/Pic.astro";
import SmallPlaceholder from "../components/SmallPlaceholder.astro";
---

<container
	class="w-full max-w-screen-2xl p-5 gap-10 flex flex-col items-center"
>
	<Placeholder color="bg-borange" text="About Me" textColor="text-bwhite" />
	<div
		class="flex flex-col md:flex-row gap-10 w-full max-w-screen-lg justify-around items-center"
	>
		<Pic
			src="https://lh3.googleusercontent.com/pw/ABLVV870ec4Q3yDc7iE-HLxMJn3yTSMM-7znh4aRhsjQzyzBbUezTaHq8eczKvVCRecgPUUBdVYyp_9EoBNXi5HPlsjTiKXS0QkhOYAXl6116VkuSeqndQjO=w2400"
			aspect="aspect-square"
			svg="/star3.svg"
			svg2="/heart.svg"
			rotate="rotate-6"
		/>
		<p class="max-w-sm text-center md:text-right">
			I’m <b>Gabriel Alexis Gonzales</b>, aka <b>Iamusicgabriel</b>. Student at <b
				>Don Bosco Makati</b
			>. A <b>Student leader, front-end dev, video editor, artist!</b>
		</p>
	</div>
	<div
		class="flex flex-col md:flex-row-reverse gap-10 w-full max-w-screen-lg justify-around items-center"
	>
		<Pic
			src="https://lh3.googleusercontent.com/pw/ABLVV85AlsQ5dvbRuoVt23mMMwiE8xNtgK96rSQ6vZ1ACpepgp_RZPpWgdA4AktNSBMHluXHAhuUYVZCJ6vWqDkuPC2LkplsGlxT4z57b7rxdMB1EfAxoldJ=w2400"
			aspect="aspect-square"
			svg="/ribbon.svg"
			svg2="/star2.svg"
			rotate="-rotate-6"
		/>
		<div class="flex flex-col gap-4 items-center md:items-start">
			<SmallPlaceholder color="bg-bwhite" text="intp-t" />
			<SmallPlaceholder color="bg-bwhite" text="adventure time fan" />
			<div class="indicator">
				<span class="indicator-item"
					><img src="/pb.png" class="w-10 rotate-12" /></span
				>
				<SmallPlaceholder color="bg-bwhite" text="i <3 bonnibel" />
			</div>

			<SmallPlaceholder color="bg-bwhite" text="nerd 🤓" />
			<SmallPlaceholder color="bg-bwhite" text="single 😆😆😆" />
		</div>
	</div>
	<div class="w-full max-w-screen-lg bg-bpink">fawefwae</div>
</container>
