---
import Placeholder from "../components/Placeholder.astro";
import Crdgrid from "../components/Crdgrid.astro";
import Button from "../components/Button.astro";
interface Frontmatter {
	title: string;
	picture: string;
	date: string;
}
const posts = await Astro.glob<Frontmatter>("../pages/works/*.md");
posts.sort((a, b) => {
	let dateA = new Date(a.frontmatter.date);
	let dateB = new Date(b.frontmatter.date);
	return dateB.getTime() - dateA.getTime();
});
---

<container class="w-full max-w-screen-2xl p-5 gap-5 flex flex-col items-center">
	<Placeholder color="bg-bblue" text="All Works" textColor="text-bwhite" />
	<div
		class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-4 gap-5 w-full max-w-screen-lg place-items-center align-middle"
	>
		{
			posts.map((post) => (
				<Crdgrid
					text={post.frontmatter.title}
					href={post.url}
					pic={post.frontmatter.picture}
					date={post.frontmatter.date}
				/>
			))
		}
	</div>
</container>
