<section
	class="flex flex-col p-4 gap-8 w-full max-w-[1024px] items-center self-center"
>
	<div class="bg-pink border-4 border-white p-4 grid gap-4 w-full text-white">
		<h1 class="text-xl font-bold">iamusicgabriel.com v3</h1>
		<div>
			<p>Coded by yours truly</p>
			<a href="https://github.com/Iamusicgab/iamusicgabriel.com"
				><p class="underline">GitHub Repo</p></a
			>

			<p>MIT License</p>
			<p>Made with Astro + React.js</p>
			<p>Hosted with Vercel</p>
			<p>All rights reserved 2025</p>
		</div>
	</div>
</section>
