---
import Placeholder from "../components/Placeholder.astro";
---

<div class="w-full max-w-screen-xl p-5">
	<footer
		class="footer p-3 md:p-10 bg-bwhite text-neutral-content border-8 rounded-xl"
	>
		<aside>
			<img class="max-w-20" src="/star2.svg" />
			<p>Iamusicgabriel.com</p>
		</aside>
		<nav>
			<div class="grid grid-flow-col gap-4">
				<p>
					Made by yours truly<br />Built with Astro<br />Hosted with Vercel<br
					/>Powered by iamusic.net<br />Under MIT License<br /><a
						class="underline text-borange"
						href="https://github.com/Iamusicgab/iamusicgabriel.com"
						>GitHub Repo</a
					>
				</p>
			</div>
		</nav>
	</footer>
</div>
