---
import Crds from "../components/Crds.astro";
---

<container
	class="flex flex-col md:flex-row justify-center md:justify-around items-center h-screen w-full p-5 gap-10 max-w-screen-2xl"
>
	<Crds
		pic="/hero.png"
		alt="Hero Picture"
		text="@iamusicgabriel"
		svg="/star2.svg"
		color="bg-blightblue"
	/>
	<p class="text-xl md:text-2xl lg:text-3xl text-center md:text-right max-w-96">
		The narcissistic and arrogant a**hole. Welcome to my world, my friend.
	</p>
</container>
