---
import Window from "../components/Window.astro";
import BigText from "../components/BigText.astro";

import Coding from "../images/coding.gif";
import Hero from "../images/my-images/hero.png";
import Iamusicgabriel from "../images/iamusicgabriel.png";
---

<section class="flex flex-col items-center">
	<div
		class="flex flex-col items-center md:items-baseline max-w-lg md:max-w-full relative pt-36"
		id="HeroTitleContainer"
	>
		<div
			class="absolute w-fit left-1/2 transform -translate-x-35 -translate-y-25 bg-amber-400"
		>
			<Window title="intro.tsx" color="pink" padding="p-3">
				<div class="flex flex-col w-48">
					<span class="opacity-50 text-xs md:text-base"
						>const intro = () => &lbrace;</span
					>
					<span class="indent-4 opacity-50 text-xs md:text-base">return (</span>
					<span class="text-lg md:text-3xl leading-5">
						the narcissistic and arrogant a**hole. welcome to my world, my
						friend.
					</span>
					<span class="indent-4 opacity-50 text-xs md:text-base">);</span>
					<span class="opacity-50 text-xs md:text-base">&rbrace;;</span>
				</div>
			</Window>
		</div>
		<div class="absolute bottom-15 left-0 z-10 scale-70 md:scale-100">
			<Window
				title="rainbow.tsx"
				css="bg-gradient-to-r from-violet to-pink"
				padding="p-3"
			>
				<div class="w-30">
					<span class="text-white"
						>"parati't parating may bahaghari sa bawat antas ng buhay."</span
					>
				</div>
			</Window>
		</div>
		<div class="absolute bottom-20 top-40 -z-10 right-5">
			<Window title="monke.gif">
				<img class="w-30" src={Coding.src} />
			</Window>
		</div>
		<div class="absolute bottom-30 right-4 z-10">
			<Window title="quote.tsx" color="yellow" padding="p-3">
				<span class="text-xs md:text-base">think different.</span>
			</Window>
		</div>
		<img class="w-11/12 md:w-128 drop-shadow-box" src={Hero.src} />
		<img
			class="-rotate-6 absolute z-10 bottom-0 md:bottom-36 md:w-3xl drop-shadow-lg p-3"
			src={Iamusicgabriel.src}
		/>
	</div>
</section>
