---
import WindowText from "../components/WindowText.astro";
import WindowImage from "../components/WindowImage.astro";
import BigText from "../components/BigText.astro";

import Coding from "../images/coding.gif";
import Hero from "../images/my-images/hero.png";
import Iamusicgabriel from "../images/iamusicgabriel.png";
---

<section class="flex justify-center mt-36 mb-20">
	<div class="relative w-full md:w-fit md:h-164">
		<div class="md:absolute left-106 top-35 z-10">
			<WindowText
				title="iamusicgabriel.tsx"
				color="bg-pink"
				textColor="text-white"
			>
				<div class="w-72 flex flex-col text-white">
					<span class="opacity-50 select-none"
						>const intro = () => &lbrace;</span
					>
					<span class="indent-4 opacity-50 select-none">return (</span>
					<span class="text-3xl"
						>Narcissistic and arrogant a**hole. Welcome to my world, my friend.</span
					>

					<span class="indent-4 opacity-50 select-none">);</span>
					<span class="opacity-50 select-none">&rbrace;</span>
				</div>
			</WindowText>
		</div>
		<div class="md:absolute top-4 right-70">
			<WindowText
				title="rainbow.tsx"
				css="bg-gradient-to-r from-violet to-pink"
			>
				<div class="w-32 text-white">
					parati't parating may bahaghari sa bawat antas ng buhay.
				</div>
			</WindowText>
		</div>
		<div class="md:absolute -right-30 top-10">
			<WindowText
				title="quote.tsx"
				color="bg-yellow"
				textColor="text-base-100"
				text="think different."
			/>
		</div>
		<div class="md:absolute top-80 -left-45">
			<WindowImage title="monke.gif">
				<img src={Coding.src} class="w-64" />
			</WindowImage>
		</div>

		<img
			class="w-64 md:w-full md:max-w-lg md:relative z-10 select-none drop-shadow-box"
			src={Hero.src}
		/>

		<img
			src={Iamusicgabriel.src}
			class="md:max-w-3xl relative bottom-20 md:bottom-44 -rotate-6 z-10 select-none drop-shadow-box"
		/>

		<div class="absolute top-40 md:top-60 md:left-10 z-30 -rotate-6">
			<BigText><span>pusong</span><span>salesiano</span></BigText>
		</div>
		<div class="absolute top-40 left-40 md:top-60 md:left-80 z-30 rotate-4">
			<BigText>isko!</BigText>
		</div>
	</div>
</section>
