---
import SmallPlaceholder from "../components/SmallPlaceholder.astro";
---

<container
	class="w-screen h-screen flex justify-center items-center flex-col gap-5 absolute bg-byellow z-10"
>
	<span class="loading loading-ball loading-lg"></span>
	<SmallPlaceholder color="bg-bwhite" text="loading" />
</container>
