---
import SpotifyPic from "../images/gui/spotify.png";
---

<section class="bg-amber-50 p-3 grid w-full justify-center">
	<!-- Title -->
	<div
		class="flex gap-2 items-center bg-base-100 border-white border-4 p-2 px-3"
	>
		<img class="w-14" src={SpotifyPic.src} />
		<div class="w-fit">
			<span class="flex flex-col text-white text-xl md:text-2xl w-fit"
				>My Spotify Stats</span
			>
			<span class="text-white text-xs">Updated</span>
		</div>
	</div>

	<!-- Recently Played -->
	<div>awef</div>
	<!-- Top Artist -->
	<div></div>
	<!-- Top Songs -->
	<div></div>
</section>
