---
import Placeholder from "../components/Placeholder.astro";
import CrdPlaceholder from "../components/CrdPlaceholder.astro";
import CrdButton from "../components/CrdButton.astro";
import Button from "../components/Button.astro";
interface Frontmatter {
	title: string;
	subtitle: string;
	date: string;
}
const posts = await Astro.glob<Frontmatter>("../pages/training/*.md");
posts.sort((a, b) => {
	let dateA = new Date(a.frontmatter.date);
	let dateB = new Date(b.frontmatter.date);
	return dateB.getTime() - dateA.getTime();
});
---

<container class="w-full max-w-screen-2xl p-5 gap-5 flex flex-col items-center">
	<Placeholder color="bg-blightblue" text="Trainings" textColor="text-bblack" />
	<div class="flex w-full max-w-screen-lg mt-6">
		<span>Recent</span>
	</div>
	{
		posts.slice(0, 3).map((post) => (
			<CrdButton
				color="bg-bwhite"
				title={post.frontmatter.title}
				place={post.frontmatter.subtitle}
				date={() => {
					let date = new Date(post.frontmatter.date);
					return date.toDateString().replace(/^\S+\s/, "");
				}}
				href={post.url}
			/>
		))
	}
	<Button color="bg-blightviolet" text="View More" href="/awards" />
</container>
