---
import SectionTitle from "../components/SectionTitle.astro";
import PictureWindow from "../components/PictureWindow.astro";
import Education from "../images/gui/education.svg";
---

<section class="flex flex-col p-3 gap-3">
	<SectionTitle title="Works" image={Education} /><div
		class="w-fit gap-3 grid sm:grid-cols-2 md:grid-cols-3 justify-items-center self-center"
	>
		<PictureWindow
			title="this e"
			picture="../images/awardsSample.png"
			logo=""
		/>

		<PictureWindow
			title="this ile aeiowlh awilefh awleuhliAWFHUIL"
			picture="../images/awardsSample.png"
			logo=""
		/>
		<PictureWindow
			title="this is a "
			picture="../images/awardsSample.png"
			logo=""
		/>
		<PictureWindow
			title="this is "
			picture="../images/awardsSample.png"
			logo=""
		/>
		<PictureWindow
			title="this is "
			picture="../images/awardsSample.png"
			logo=""
		/>
	</div>
</section>
