---
import SectionTitle from "../components/SectionTitle.astro";
import PictureWindow from "../components/PictureWindow.astro";
import Education from "../images/gui/education.svg";
---

<section
	class="flex flex-col p-3 gap-8 w-full max-w-[1440px] items-center self-center"
>
	<SectionTitle title="Works" image={Education} />
	<div
		class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 place-content-center justify-items-center max-w-4xl m-auto gap-3 w-full"
	>
		<PictureWindow
			title="this is a testing of a very long title this is a testing of a very long title"
		/>
		<PictureWindow
			title="this is a testing of a very long title this is a testing of a very long title"
		/>
		<PictureWindow
			title="this is a testing of a very long title this is a testing of a very long title"
		/>
		<PictureWindow
			title="this is a testing of a very long title this is a testing of a very long title"
		/>
		<PictureWindow
			title="this is a testing of a very long title this is a testing of a very long title"
		/>
		<PictureWindow
			title="this is a testing of a very long title this is a testing of a very long title"
		/>
	</div>
</section>
